In [59]:
# Import libries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import datetime as dt
from scipy import stats
from matplotlib.gridspec import GridSpec
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, cohen_kappa_score
from random import randrange
from pandas import Series
from matplotlib import pyplot
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn import metrics
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict

In [60]:
# Import dataframes AND Specify a custom delimiter for the CSV input (sep=' ')

ecu_dbs_gross=pd.read_csv(r'C:\Users\jspad\Documents\Code Academy\EcuBs Project\OBD2 Doblone.csv', sep=';')

In [61]:
ecu_dbs_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14024 entries, 0 to 14023
Columns: 201 entries, GPS to (OBD)(km/h)
dtypes: float64(184), int64(11), object(6)
memory usage: 21.5+ MB

In [50]:
ecu_dbs_gross.isnull().sum()

GPS                0
Time               0
Unnamed: 2         0
Device             0
Time.1             0
               ...
Module)(V)     14024
Speed.2        14024
(GPS)(km/h)    14024
Speed.3        14024
(OBD)(km/h)    14024
Length: 201, dtype: int64

In [62]:
# Rename
ecu_dbs_gross=ecu_dbs_gross.rename(columns={"Longitude": "dteday",
                                "Unnamed: 7" : "hr"})

In [63]:
#Convert time and date into timestamp objects 
t= ecu_dbs_gross['hr']
ecu_dbs_gross['hr'] = pd.to_datetime(t, unit='ns').dt.time

d = ecu_dbs_gross['dteday']
ecu_dbs_gross['dteday'] = pd.to_datetime(d).dt.date


#Combine time and date into one column
ecu_dbs_gross['dteday'] = ecu_dbs_gross.apply(lambda r : pd.datetime.combine(r['dteday'],r['hr']),1)

<ipython-input-63-75b34f1350d3>:10: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  ecu_dbs_gross['dteday'] = ecu_dbs_gross.apply(lambda r : pd.datetime.combine(r['dteday'],r['hr']),1)

In [68]:
#Drop Columns 1
ecu_dbs=ecu_dbs_gross.drop(['GPS','hr','Unnamed: 2','Time.1', 'Time','Unnamed: 5','Device'], axis=1)

In [71]:
ecu_dbs=ecu_dbs.dropna(axis=1, how='all')

In [72]:
ecu_dbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14024 entries, 0 to 14023
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dteday               14024 non-null  datetime64[ns]
 1   Latitude             14024 non-null  float64
 2   GPS.1                14024 non-null  float64
 3   Speed                14024 non-null  float64
 4   (Meters/second)      14024 non-null  float64
 5   Unnamed: 12          14024 non-null  float64
 6   Horizontal           14024 non-null  float64
 7   Dilution             14024 non-null  float64
 8   of                   14024 non-null  float64
 9   Precision            14024 non-null  float64
 10  Unnamed: 17          14024 non-null  float64
 11  Altitude             14024 non-null  int64
 12  Unnamed: 19          14024 non-null  int64
 13  Bearing              14024 non-null  int64
 14  Unnamed: 21          14024 non-null  int64
 15  G(x)                 14024 non-null  float64
 16  Unnamed: 23          14024 non-null  float64
 17  G(y)                 14024 non-null  float64
 18  Unnamed: 25          14024 non-null  float64
 19  G(z)                 14024 non-null  float64
 20  Unnamed: 27          14024 non-null  float64
 21  G(calibrated)        14024 non-null  float64
 22  Unnamed: 29          14024 non-null  float64
 23  [FADV]               14024 non-null  int64
 24  Current              14024 non-null  float64
 25  Gear                 14024 non-null  float64
 26  [FADV].1             14024 non-null  float64
 27  Injector             14024 non-null  float64
 28  Duty                 14024 non-null  float64
 29  Cycle(%)             14024 non-null  float64
 30  [FADV].2             14024 non-null  float64
 31  Knock                14024 non-null  float64
 32  Voltage              14024 non-null  float64
 33  Cyl                  14024 non-null  float64
 34  2(mv)                14024 non-null  float64
 35  [FADV].3             14024 non-null  float64
 36  VVT                  14024 non-null  float64
 37  Operation            14024 non-null  float64
 38  Mode                 14024 non-null  float64
 39  [FADV].4             14024 non-null  float64
 40  Waste                14024 non-null  float64
 41  Gate                 14024 non-null  float64
 42  Duty(%)              14024 non-null  float64
 43  Timing               14024 non-null  float64
 44  Advance(Â°)           14024 non-null  float64
 45  Engine               14024 non-null  float64
 46  Load(%)              14024 non-null  float64
 47  Engine.1             14024 non-null  float64
 48  Load(Absolute)(%)    14024 non-null  float64
 49  Kilometers           14024 non-null  float64
 50  Per                  14024 non-null  float64
 51  Litre(Instant)(kpl)  14024 non-null  float64
 52  Fuel                 14024 non-null  int64
 53  Trim                 14024 non-null  float64
 54  Bank                 14024 non-null  int64
 55  1                    14024 non-null  int64
 56  Long                 14024 non-null  float64
 57  Term(%)              14024 non-null  float64
 58  Fuel.1               14024 non-null  float64
 59  Trim.1               14024 non-null  int64
dtypes: datetime64[ns](1), float64(50), int64(9)
memory usage: 6.4 MB

In [4]:
#Merging datasets

# part_df=pd.merge(products, stock, on="index_col")
# part_df=part_df.drop(['ASIN_y'], axis=1)

# part2_df=pd.merge(part_df, assessment, on="index_col")
# part2_df=part2_df.drop(['ASIN_x'], axis=1)

# part3_df=pd.merge(part2_df, invoices, on="index_col")
# part3_df=part3_df.drop(['ASIN_y'], axis=1)

# full_df=pd.merge(part3_df, customers, on="index_col")
# full_df=full_df.drop(['CustomerID_y', 'index_col'], axis=1)

In [17]:
# Dropping columns

# df=df.drop(['invoice_time', 'StockCode'], axis=1)

# # Data cleaning - checking missing values (Customerid missing) 
# #np.issubdtype(df['CustomerID_x'].dtype, np.number)

# df=df[pd.to_numeric(df['CustomerID_x'], errors='coerce').notnull()]

# # Data cleaning - checking missing values (Customerid missing) 

# df_country=df[pd.to_numeric(df['CustomerID_x'], errors='coerce').notnull()]

# # Rename
# df=df.rename(columns={"title": "Description",
#                                 "ASIN_x": "ASIN",
#                                 "CustomerID_x": "CustomerID"})

# # Transforming these labels into categrical data type

# df['product_type'] = pd.Categorical(df['product_type'],
# categories=['dslr camera', 'keyboard', 'monitor', 'mouse', 'processor', 'smartphone',])


# df['Country'] = pd.Categorical(df['Country'],
# categories=['Australia','Austria','Bahrain','Belgium','Brazil','Canada','Cyprus','Czech Republic','Denmark','European Community','Finland','France','Germany','Greece',
#             'Iceland','Ireland','Israel','Italy','Japan','Lebanon','Lithuania','Malta','Netherlands','Norway','Poland','Portugal','Saudi Arabia','Singapore',
#             'South Africa','Spain','Sweden','Switzerland','United Arab Emirates','United Kingdom','United States','Unknown'])

In [ ]:
# Pivot tabel per Customer

# table_customer = pd.pivot_table(df, values='total_sale', index=['CustomerID', 'Country', 'product_type'],
#                     aggfunc=np.sum,
#                     observed=True)

# table_customer=table_customer.sort_values(by=['total_sale'], ascending=False)

# table_customer

In [ ]:
# t_sales=df.groupby('CustomerID')['total_sale'].agg(['sum','count','mean']).sort_values(by=['sum'], ascending=False)

# t_sales.describe()

In [ ]:
# Pivot tabel per Category of Product

# table_product = pd.pivot_table(df_country, values='total_sale', index=[ 'product_type'],
#                     aggfunc=np.sum,
#                     observed=True)

# table_product=table_product.sort_values(by=['total_sale'], ascending=False)

# table_product.sort_values(by=['total_sale'], ascending=False).round()

In [ ]:
# # Which countries and which customers made the highest number of orders? Are they the same with the highest spending?


# country_sales=df_country.groupby('Country')['total_sale'].agg(['sum','count','mean']).sort_values(by=['count'], ascending=False)

# country_sales

In [ ]:
# # IRQ

# # Select the first quantile
# q1 =df['total_sale'].quantile(.25)

# # Select the third quantile
# q3 = df['total_sale'].quantile(.75)

# # Create a mask inbeetween q1 & q3
# mask = df['total_sale'].between(q1, q3, inclusive=True)

# # Filtering the initial dataframe with a mask
# iqr = df.loc[mask, 'total_sale']

In [37]:
# Create a filtered DF

# df2=df.drop(['Description',	'product_type', 'rating', 'review_count', 'ASIN', 'InvoiceNo', 'Quantity','price', 'CustomerID', 'Country'], axis=1)
# df_filtered = df2[df2['total_sale'] <= 648]
# df_filtered2 = df_filtered[df_filtered['total_sale'] >= 60]
# df_filtered2.info

<bound method DataFrame.info of         total_sale        invoice_date
1           159.96 2018-12-01 17:00:00
3           199.99 2018-12-01 17:00:00
5           335.86 2018-12-01 17:00:00
6            71.70 2018-12-01 17:00:00
7           395.00 2018-12-01 17:00:00
...            ...                 ...
554411      543.68 2019-12-09 08:00:00
554412      179.88 2019-12-09 08:00:00
554413      179.94 2019-12-09 08:00:00
554414       83.64 2019-12-09 08:00:00
554415      279.80 2019-12-09 08:00:00

[206005 rows x 2 columns]>

In [58]:
#%reset